:root {
    --van-doc-black: #000;
    --van-doc-white: #fff;
    --van-doc-gray-1: #f7f8fa;
    --van-doc-gray-2: #f2f3f5;
    --van-doc-gray-3: #ebedf0;
    --van-doc-gray-4: #dcdee0;
    --van-doc-gray-5: #c8c9cc;
    --van-doc-gray-6: #969799;
    --van-doc-gray-7: #646566;
    --van-doc-gray-8: #323233;
    --van-doc-blue: #1989fa;
    --van-doc-green: #07c160;
    --van-doc-purple: #8e69d3;
    --van-doc-code-font-family: "Menlo","Source Code Pro","Monaco","Inconsolata",monospace;

    --van-doc-text-color-1: var(--van-doc-black);
    --van-doc-text-color-2: var(--van-doc-gray-8);
    --van-doc-text-color-3: #34495e;
    --van-doc-text-color-4: var(--van-doc-gray-6);
    --van-doc-link-color: var(--van-doc-blue);
    --van-doc-background: #eff2f5;
    --van-doc-background-2: var(--van-doc-white);
    --van-doc-background-3: var(--van-doc-white);
    --van-doc-header-background: #011f3c;
    --van-doc-border-color: var(--van-doc-gray-2);
    --van-doc-code-color: #58727e;
    --van-doc-code-comment-color: var(--van-doc-gray-6);
    --van-doc-code-background: var(--van-doc-gray-1);
    --van-doc-blockquote-color: #2f85da;
    --van-doc-blockquote-background: #ecf9ff
}

.van-theme-dark * {
    --van-doc-text-color-1: var(--van-doc-white);
    --van-doc-text-color-2: rgba(255,255,255,.9);
    --van-doc-text-color-3: rgba(255,255,255,.75);
    --van-doc-text-color-4: rgba(255,255,255,.6);
    --van-doc-link-color: #1bb5fe;
    --van-doc-background: #202124;
    --van-doc-background-2: rgba(255,255,255,.06);
    --van-doc-background-3: rgba(255,255,255,.1);
    --van-doc-header-background: rgba(1,31,60,.3);
    --van-doc-border-color: #3a3a3c;
    --van-doc-code-color: rgba(200,200,200,.85);
    --van-doc-code-comment-color: var(--van-doc-gray-7);
    --van-doc-code-background: rgba(0,0,0,.24);
    --van-doc-blockquote-color: #bae6fd;
    --van-doc-blockquote-background: rgba(7,89,133,.25)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: max(100dvh, 100svh);
    width: 100%;
    color: black;
    background-color: var(--van-background);
}

.van-theme-dark body {
    color: white;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

strong {
    font-weight: bold;
}

code {
    border-radius: 0.2em;
    background-color: var(--van-doc-border-color);
    padding: 0.1em 0.3em;
}

/* 美化滚动条 */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 100px;
}

/* Firefox 滚动条样式 */
* {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
}

/* 适配 Vant 暗黑模式 */
.van-theme-dark *::-webkit-scrollbar-track {
    background: #1f1f1f;
}

.van-theme-dark *::-webkit-scrollbar-thumb {
    background: #555;
}

.van-theme-dark * {
    scrollbar-color: #555 #1f1f1f;
}
