:root {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    /* background-color: #f7f8fa; */
    /* background-color: #2d2e31; */
    height: 100vh;
    width: 100%;
    background-color: var(--van-background);
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
