* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: max(100dvh, 100svh);
    width: 100%;
    background-color: var(--van-background);
}

.van-theme-dark body {
    color: white;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 美化滚动条 */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 100px;
}

/* Firefox 滚动条样式 */
* {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
}

/* 适配 Vant 暗黑模式 */
.van-theme-dark *::-webkit-scrollbar-track {
    background: #1f1f1f;
}

.van-theme-dark *::-webkit-scrollbar-thumb {
    background: #555;
}

.van-theme-dark * {
    scrollbar-color: #555 #1f1f1f;
}
